Hey there!

<%= @items.length %> items from your pleasegoonsale.com rack have actually gone on sale! 

<%for item in @items %>
  <%= image_tag item.image_url %>
  <%= item.name %>
  was: <%= item.formatted_original_price %>
  now: <%= item.formatted_sale_price %>
  <a href="<%= item.store_url %>"> buy it now</a>
<%end%>

See all your items on your <%= link_to "pleasegoonsale.com rack", my_rack_path %>