
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
		<title>pleasegoonsale.com - we love to shop online. we love to save online.</title>
    <%= include_stylesheets :main, :media => "all" %>
    <%= include_javascripts :main %>
		<script type="text/javascript" language="javascript" charset="utf-8">
		
      //<![CDATA[
      $(function(){
        // pleasegoonsale.init();
      });
      //]]>
    </script>
	</head> 
	<body>
	  <div class="header">
	    <div class="userinfo">
	      <%if user_signed_in? %>
	      <%= link_to current_user.email, edit_user_registration_path %> |
	      <%= link_to "logout", destroy_user_session_path %>
	      <% else %>
	        <%= link_to "login", new_user_session_path %> | 
	        <%= link_to "signup", new_user_registration_path %>
	      <% end %>
	    </div>
	    <div class="logo">
	    </div>
	    notice: <%= flash[:notice] %> <br/>
	  </div>
	  <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
